* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-top {
    background-color: gray;
    padding: 30px;
}

.container-buttom {
    padding: 30px;

.container-card {
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    display: inline-block;

}

